<li class="activity_message">
  <%= link_to image_tag(user.photo_url(:medium)), user, title: user.name %>
  <p><%= link_to user.name, user %> just shared a <%= object.class.to_s.downcase %>: <%= link_to object.name, object %> with you</p>
</li>
