<li class="activity_message">
  <%= link_to image_tag(inviter.photo_url(:medium)), inviter, title: inviter.name %>
  <p><%= link_to inviter.name, user %> asked you to join a <%= link_to "StudyHall", studyhall %></p>
</li>
