<div class="container">
  <div class="messages_list_container list">
    <ul class="unstyled messages_list">
      <%= render partial: "messages/message", collection: @messages %>
    </ul>
  </div>
</div>
