<%= link_to "", "#", class: " close_help_button" %>
<h3 class="title help_section">FAQ - Notebooks</h3>
<div class="help_section">
  <h4>What happens to my notebooks when I share?</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <%= link_to "Read more FAQ's", page_path(id: "faqs")%>
</div>