<div id="menubar" class="topbar">
  <div class="right">
  </div>
  <div class="left">
    <%= link_to "Take Notes", "/notes/new", :class => "btn" %>
    <%= link_to 'New Notebook', new_notebook_path, :class => "btn" %>
  </div>
  <div class="middle">
    <span>New Notebook</span>
  </div>
</div>
<div class="container">
  <div class="center">
    <%= render 'form' %>
  </div>
</div>