<%= link_to "", "#", class: " close_help_button" %>
<h3 class="title help_section">FAQ - Notes</h3>
<div class="help_section">
  <h4>What happens to my notes when I share?</h4>
  <p>
    Sharing notes allows your classmates to read notes that you take.  So share ‘em and maybe that cutie from lecture will set up a studyhall with you. Plus, you can always make them private if kids start to mooch.
  </p>
  <%= link_to "Read more FAQ's", page_path(id: "faqs")%>
</div>
