<div class="list_view">
  <div class="preview">
  </div>

  <div class="fields">
    <div class="name_wrapper">
      <a class="name" href="<%= note_path(note) %>">
        <span><%= note.name %></span>
      </a>
      <% unless note.shareable? %>
        <a href="#" class="lock_icon icon">Share</a>
      <% end %>
    </div>
    <div class="course clear"><%= note.notebook.try(:course).try(:title) %></div>
    <div class="date"><%=l note.created_at.to_date %></div>
  </div>

  <span class="drag_handle icon">+</span>

</div>