<li class="note_list_item">
  <%= div_for note do %>
    <%= render 'notes/grid_view.html', note: note %>
    <%= render 'notes/list_view.html', note: note %>
    <div class="checkbox">
      <input type="checkbox" name="note[][id]" value="<%= note.id %>" />
    </div>
  <% end %>
</li>
