<div class="main-content">
  <div id="menubar" class="topbar notes">
    <div class="right">
      <%= collection_select :menubar, :notebook_id, current_user.notebooks, :id, :name %>
      <a href="" class="btn" id="note_save">Save</a>
    </div>
    <div class="left">
      <%= link_to "X", notebooks_path, :class => "btn" %>
    </div>
    <div class="middle">
      <span>Take Notes</span>
    </div>
  </div>
  <div class="container-fluid">
    <%= render 'form' %>
  </div>
</div>
