<% if @note_items.any? %>
  <div class="scroll_pane">
    <ul class="note_items">
      <%= render partial: "note_item", collection: @note_items, as: :note_item %>
    </ul>
  </div>
<% else %>
  <p>Taking notes has never been easier! With StudyHall.com you can create notebooks, take notes, and share them with your friends!</p>
  <p>Click the "New Notebook" button to begin taking note.</p>
<% end %>
