<div class="main-content">
  <div id="menubar" class="topbar notes">
    <div class="right">
      <%= link_to "Edit", edit_note_path(@note), class: "btn" %>
    </div>
    <div class="left">
      <%= link_to "X", (@notebook ? notebook_path(@notebook) : notebooks_path), :class => "btn" %>
    </div>
    <div class="middle">
    </div>
  </div>
  <div class="container-fluid">
    <pre id="note_content"><%= @note.content %></pre>
  </div>
</div>
