<p>
  A message was reported by <%= @reporter.name %>.
</p>
<h3>Report details</h3>
<p>
  <div><%= @offender.name %> sent this message at <%= @message.created_at.strftime("%a, %b %d %Y at %I:%M%p") %></div>
  <div><%= @message.body %></div>
</p>