<p>
  A post was reported by <%= @reporter.name %>.
</p>
<h3>Report details</h3>
<p>
  <div><%= @offender.name %> posted this comment <%= post.created_at.strftime("%a, %b %d %Y at %I:%M%p") %></div>
  <div><%= @post.text %></div>
</p>