<p><%= @sender.name.titleize %> has invited you to a studyhall.<p>
<% unless @message.blank? %>
  <p>"<%= @message %>"</p>
<% end %>
<p><%= link_to "Start studying!", @url %></p>
<p>
  Studyhalls are a great way to study with your friends in real time, take notes together, and have fun.
</p>