<p>
  Welcome to StudyHall.com, <%= @user.name %>.
</p>
<p>
  You have successfully signed up to StudyHall.com.
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
