<h1>StudyHall Proof of Concept</h1>
<div class="column">
  <h2>Whiteboard Examples</h2>
  <ul>
    <% @whiteboards.each do |wb| %>
      <li><%= link_to wb.name, wb %></li>
    <% end %>
  </ul>
  <%= link_to "New Whiteboard", new_poc_whiteboard_path, :class => "button" %>
</div>
<div class="column">
  <h2>Video Chat Examples</h2>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to room.name, tokbox_room_path(room) %></li>
    <% end %>
  </ul>
  <%= link_to "New Video Chat", new_tokbox_room_path, :class => "button" %>
</div>
