<div class="grid_view">
  <div class="preview">
    <div class="fields">
      <%= link_to study_session, :class => "name" do %>
        <span><%= study_session.name %></span>
      <% end %>
    </div>
  </div>
</div>