<div style="height:400px">
  <a class="close_help_button" href="#">x</a>
  <h3>FAQ - StudyHalls</h3>
  <dl>
    <dt>What would Sam Jackson say?</dt>
    <dd>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</dd>
    <dt>What else would Sam Jackson say?</dt>
    <dd>He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids.</dd>
  </dl>
  <a href="#">Read more FAQ's</a>
</div>
