<div class="list_view">
  <div class="preview"></div>
  <div class="fields">
    <div class="name_wrapper">
      <%=link_to study_session, :class => "name" do %>
        <span><%= study_session.name %></span>
      <% end %>
    </div>
  </div>>
</div>