<div class="container">
<div class="notebook_list_container <%= items_layout %>">
  <% if @study_sessions.empty? %>
        <p>With study halls you can collaborate with other students, video chat, and edit documents together!</p>
  <% else %>
    <ol class="notebook_list">
      <%= render partial: 'list_item', collection: @study_sessions, as: :study_session %>
    </ol>
  <% end %>
</div></div>

<div id="new_study_session_modal" class="modal_dialog"></div>