<div class="container">
<div class="notebook_list_container <%= items_layout %>">
  <% if @study_sessions.empty? %>
    <% if @filtered_results %>
      <p>Sorry, we can't find any StudyHalls meeting that criteria.</p>
    <% else %>
      <p>With study halls you can collaborate with other students, video chat, and edit documents together!</p>
      <p>
        <%= link_to "Start A Studyhall", new_study_session_path(:link_id => "new_study_session_button2"), :remote => true, :id => "new_study_session_button2" %>
         now!
      </p>
    <% end %>
  <% else %>
    <ol class="notebook_list">
      <%= render partial: 'list_item', collection: @study_sessions, as: :study_session %>
    </ol>
  <% end %>
</div></div>
