<%= render :partial => "tokbox_code" %>
<div id="menubar" class="topbar notes">
  <div class="right">
  </div>
  <div class="left">
    <%= link_to("X", edit_note_back_path, :class => "btn", :confirm => "Are you sure you want to leave? Unsaved changes will be lost!") %>
  </div>
  <div class="middle">
    <h3>StudyHall - <%= @study_session.created_at.strftime("%d/%m/%y") %></h3>
  </div>
</div>
<div class="clearfix"></div>
<div id="video_sidebar">
  <div id="opentok_console"></div>
  <div id="links">
    <a class="btn" value="Connect" id ="connectLink" onClick="javascript:connect()">Connect</a>
    <a class="btn" value="Leave" id ="disconnectLink" onClick="javascript:disconnect()" >Leave</a>
    <a class="btn" value="Start Publishing" id ="publishLink" onClick="javascript:startPublishing()">Start Sharing</a>
    <a class="btn" value="Stop Publishing" id ="unpublishLink" onClick="javascript:stopPublishing()">Stop Sharing</a>
  </div>
  <div id="myCamera" class="publisherContainer"></div>
  <div id="subscribers"></div>
</div>

  <iframe id="whiteboard" src="http://crocodoc.com/<%= @study_session.session_files.first.short_id rescue "" %>?embedded=true" frameborder="1" width="700" height="650"></iframe>
<div class="clearfix"></div>

<script>
  $(document).ready(function(){
    show('connectLink');
    hide("disconnectLink");
    hide("publishLink");
    hide("unpublishLink");
    var wb = $("#whiteboard");
    wb.attr("src", wb.data("url"));
  });
</script>
