<% collapsed = true unless local_assigns.key? :collapsed %>
<li class="notebook_list_item<%= ' collapsed' if collapsed %>">
  <%= link_to(class_path(offering), :class => "name") do %>
    <span><%= offering.course.title %></span>
  <% end %>
  <a href="#"><span>Course 101</span></a>
</li>