<% collapsed = true unless local_assigns.key? :collapsed %>
<li class="notebook_list_item<%= ' collapsed' if collapsed %>">
<%= link_to("/classes/#{offering.to_param}", :class => "name") do %>
    <span><%= truncate(offering.course.title, :length => 85, :separator => ' ') %></span>
  <% end %>
</li>
