<li class="notebook_list_item collapsed">
  <div class="notebook">
    <% wrapper_class ||= 'wrapper' %>
    <div class="<%= wrapper_class %>">
    <span class="preview"></span>
    <a class="name" href="<%=  %>">
      <span><%= offering.course.title %></span>
    </a>
  </div>
  </div>
</li>