<% unless notebooks.nil? %>
  <% notebooks.each do |notebook| %>
  <a href="<%= notebook_path(notebook) %>" class="name">
    <div class="_masonry_item notebook">    
        <span><%= notebook.name %></span>
        <div class="lock_icon"><%= image_tag "lock.png" unless notebook.shareable? %></div>
    </div>
    </a>
    <% unless notebook.notes.nil? %>
      <%= render "shared/notes", :notes => notebook.notes %>
    <% end %>
  <% end %>
<% end %>