<% unless @notebooks.nil? %>
  <% @notebooks.each do |notebook| %>
  <a href="<%= notebook_path(notebook) %>" class="name">
    <div class="masonry_item notebook">    
        <span><%= notebook.name %></span>
    </div>
    </a>
    <% unless notebook.notes.nil? %>
      <% notebook.notes.each do |note| %>
        <a href="<%= notebook_note_path(notebook, note) %>" class="name">
          <div class="masonry_item note">
              <span><%= note.name %></span>  
          </div>
        </a>
      <% end %>  
    <% end %>
  <% end %>
<% end %>