<section class="buddies">
  <header>
    <h1 class="left">Your Buddies <small>(<%= user.buddies.count %>)</small></h1>
    <%= link_to "View All >>", user_buddies_path(user), :remote => true, :class => "modal_button" %>
  </header>
    <ul>
      <% if user.buddies.any? %>
        <% user.buddies.each do |buddy| %>
          <li><%= link_to image_tag(buddy.photo_url(:medium)), buddy, :title => buddy.name %></li>
        <% end %>
      <% else %>
        <li></li>
      <% end %>
    </ul>
</section>
