<div class="action_bar">
  <div class="container">
    <div class="buttons_left">
      <%=link_to "Start A Studyhall", new_study_session_path, :class => "btn primary", :title => "Start A Studyhall" %>
      <a class="btn" title="Take Notes" href="#">Take Notes</a>
    </div>
    <h3>Title and action statements</h3>
    <div class="buttons_right">
      <a class="btn" title="Filter" href="#">Filter</a>
    </div>
  </div>
</div>