<div class="gridbar">
  <div class="container">
    <div class="buttons_left">
      <%=link_to "Start A Studyhall", "#", :class => "btn small primary", :id => "new_sutdyhall_btn", :title => "Start A Studyhall" %>
      <%=link_to "Take Notes", new_note_path, :class => "btn small", :title => "Take Notes" %>
    </div>
    <h3>Title and action statements</h3>
    <div class="buttons_right">
      <a class="btn small" title="Filter" href="#">Filter</a>
    </div>
  </div>
</div>