<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '<%= APP_CONFIG["facebook"]["app_id"] %>',
    status : true,
    cookie : true,
    oauth: true
  });

  function sendRequestToManyRecipients() {
    FB.ui({method: 'apprequests',
      message: 'Join me on StudyHall!'
    }, requestCallback);
  }
  
  function requestCallback(response) {
    // Handle callback here
  }

  $(document).ready(function(){
    $("#facebook_invite").click(function(e){
      console.log("invite!");
      sendRequestToManyRecipients();
      e.preventDefault();
    });
  });
</script>
