<%= render :partial => 'shared/fb_connect' %>

<% if user == current_user %>
  <section class="buddies">
    <header>
      <h1 class="left">Invite Buddies</h1>
    </header>
      <a href="#" id="facebook_invite"><%= image_tag "facebook-button.jpeg" %></a>
      <a href="#" id="gmail_invite" data-controls-modal="gmail_invite_modal" data-backdrop="true" data-keyboard="true"><%= image_tag "gmail-button.png" %></a>
  </section>
  <%= render :partial => "shared/gmail_modal" %>
<% end %>

