<% unless notes.nil? %>
  <% notes.each do |note| %>
    <a href="<%= note_path(note) %>" class="name">
      <div class="_masonry_item note">
          <span><%= note.name %></span>
          <div class="lock_icon"><%= image_tag "lock.png" unless note.shareable? %></div>
      </div>
    </a>
  <% end %>
<% end %>