<div class="gridbar">
    <div class="container"><h3>Title and action statements</h3>
    <div class="buttons">
      <a class="btn small primary" title="test" href="#">Primary action</a>
      <a class="btn small" href="#">Action</a>
    </div></div>
</div>