<div class="action-bar">
    <div class="container">
      <div class="buttons left">
      <a href="#" class="btn">Filter</a>
      <a class="btn primary" title="test" href="#">Primary action</a>
      <a class="btn selected" href="#">Selected</a>
    </div>
    
    <h3>Title and action statements</h3>
    
    <div class="buttons">
      <%= link_to 'Grid', { layout: :grid }, 'data-layout' => 'grid', :class => 'btn' %>
      <%= link_to 'List', { layout: :list }, 'data-layout' => 'list', :class => 'btn' %>
    </div></div>
</div>
