<header><h1>Campus News <small>(<%= current_user.school.try(:latest_news).try(:count) || 0 %>)</small></h1></header>
<ul class="news-list">
  <% if current_user.school.present? %>
    <% if current_user.school.latest_news.any? %>
      <% current_user.school.latest_news.each do |news| %>
        <li><%= link_to news.title, news.link, title: news.title, target: '_blank' %></li>
      <% end %>
    <% else %>
      <li><p>No recent news</p></li>
    <% end %>
  <% else %>
    <li><p>No school</p></li>
  <% end %>
</ul>

