<header><h1>Campus News</h1></header>
<% if current_user.school.present? %>
  <% group_entries(current_user.school.latest_news).each do |entries| %>
    <h2><%= formatted_pub_date(entries.first.pub_date) %></h2>
    <ul>
      <% entries.each do |entry| %>
        <li>
          <h3><%= link_to entry.title, entry.link, title: entry.title, target: '_blank' %></h3>
        </li>
      <% end %>
    </ul>
 <% end %>
<% end %>

