
<div class="container">
  <h2>FAQ's</h2>
  <p id="notice"></p>

  <h4>What happens to my studyhalls when I share?</h4>
  <p>
    Sharing a studyhall allows your classmates to see what you’ve been studying with your buddies. It’s a great way to collaborate even after your study sesh is over, and it lets your buddies get involved even if they were busy at the time.
  </p>

  <h4>What happens to my notebooks when I share?</h4>
  <p>
  Sharing notebooks allows your classmates to see what subjects you’re working on in the course activity feed. It doesn’t share your private notes, though, so you can still keep secrets.  
  </p>

  <h4>What happens to my notes when I share?</h4>
  <p>Sharing notes allows your classmates to read notes that you take.  So share ‘em and maybe that cutie from lecture will set up a studyhall with you. Plus, you can always make them private if kids start to mooch.</p>


  <h4>How do I find buddies?</h4>
  <p>The best ways to find friends on Studyhall.com are: 
  <ol>
    <li> Add courses to your profile. Then see who is in your classes to pick Study Buddies.</li>
    <li> Invite your friends from Facebook or GMail. </li>
    <li> Use the Search feature to find your friends by name or email address </li>
  </ol>
  </p>

</div>