<div class="action_bar">
  <div class="container">
    <div class="buttons left">
      <%= link_to "Start A Studyhall", new_study_session_path(:link_id => "new_study_session_button1"), :class => "btn primary popover_button", :id => "new_study_session_button1", :remote => true %>
      <%= link_to "Take Notes", new_note_path, :class => "btn " %>
    </div>
    <h3><%= flash[:action_bar_message] %></h3>
    <div class="buttons right">
      <!--Xinyi will review this code -->
      <% unless (current_user.added_course?(@course)) %>
      <%= link_to "Add this class", user_add_class_path(:user_id => current_user.id, 
       :offering_id => @class.id), method: :create, confirm: "Are you sure?", style: "font-size: 11px;", :class => " btn" %>
    <% end %>
    </div>
  </div>
</div>

<div id="new_study_session_modal" class="modal_dialog"></div>
