//User Page - Home
.home-header
  @include sidebar-separator 
  margin: 0 0 18px
  padding-bottom: 12px
  position: relative
  .alert
    float: left
    width: 390px
    a
      text-shadow: none 
.user_greeting.span4
  float: left
  margin-left: 0
  img
    float: left
  h3
    line-height: 40px
    float: left
    margin: 0 0 0 15px
    width: 150px
    font-size: 30px
.home-index
  .notebook_list_item
    a
      span
        font-size: 16px
  li.add
    a
      font-size: 14px 
