<div class="modal-header">
  <h3>Invite Your Gmail Friends</h3>
</div>
<div class="modal-body">
  <div class="alert-message block-message success">
    <p><strong>Nice!</strong> Your invites were sent.</p>
  </div>
  <p><a href="#" class="cancel_popover btn close">Close</a></p>
</div>
<div class="modal-footer">
</div>
