/* line 3, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
html {
  background-color: #f1f7fb;
  height: 100%;
}
/* line 7, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
html body {
  background-color: #f1f7fb;
  color: #9d9d9a;
  height: 100%;
}

/* line 12, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
html .left {
  float: left;
}

/* line 15, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
html .right {
  float: right;
}

/* line 18, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
html .highlight_text {
  color: #1f7eea;
}

/* line 21, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
.footer {
  position: relative;
  background-color: #e9e9e9;
  height: 50px;
}
/* line 26, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
.footer .footer_content {
  padding-top: 15px;
}

/* line 29, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
form {
  background-color: #fdfbfc;
  padding: 10px;
}
/* line 33, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
form textarea {
  height: 300px;
  width: 400px;
}

/* line 38, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
table thead {
  color: #c24a3b;
}

/* line 42, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
ul.spaced li {
  padding: 5px 0;
}

/* line 45, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
form.with_columns {
  padding: 0;
}

/* line 48, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
.masonry_item {
  margin: 10px;
  padding: 10px;
  float: left;
  overflow: hidden;
}

/* line 54, /Users/intridea/projects/studyhall/app/assets/stylesheets/app.sass */
.centered {
  margin: 40px auto;
  padding: 10px;
  width: 400px;
}
