/* line 2, /Users/intridea/projects/studyhall/app/assets/stylesheets/full-width.sass */
.full-width .main-content {
  margin-top: 0px;
}
/* line 4, /Users/intridea/projects/studyhall/app/assets/stylesheets/full-width.sass */
.full-width #menubar {
  position: relative;
  height: 30px;
  background: #555555;
  padding: 8px 20px;
  text-align: center;
  z-index: 0;
}
/* line 12, /Users/intridea/projects/studyhall/app/assets/stylesheets/full-width.sass */
.full-width #menubar a.btn {
  margin-top: 1px;
  color: #333333;
}
/* line 15, /Users/intridea/projects/studyhall/app/assets/stylesheets/full-width.sass */
.full-width #menubar .btn_group {
  padding: 0 10px;
  display: inline;
}
/* line 18, /Users/intridea/projects/studyhall/app/assets/stylesheets/full-width.sass */
.full-width #menubar .right {
  float: right;
}
/* line 20, /Users/intridea/projects/studyhall/app/assets/stylesheets/full-width.sass */
.full-width #menubar .left {
  float: left;
}
/* line 23, /Users/intridea/projects/studyhall/app/assets/stylesheets/full-width.sass */
.full-width #menubar .middle span {
  color: #cccccc;
  font-size: 18px;
  line-height: 28px;
}
