/* line 3, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 7, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container li {
  list-style-type: none;
  list-style-image: none;
}
/* line 10, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .hidden {
  display: none;
}
/* line 15, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .list_view {
  display: none;
}
/* line 18, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .grid_view {
  display: none;
}
/* line 22, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .preview {
  border: 1px solid #aaaaaa;
}
/* line 25, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .notebook .preview {
  background: #cccccc;
  box-shadow: 5px 5px 5px #aaaaaa;
  -webkit-box-shadow: 5px 5px 5px #aaaaaa;
}
/* line 29, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .notebook.draggable_hovering .preview {
  border: 1px dashed #aaaaaa;
  background: #eeeeee;
}
/* line 33, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .note .preview {
  background: white;
}
/* line 36, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .dragging_placeholder .note .preview {
  border-width: 0;
  background: #eeeeee;
  box-shadow: 0 0 3px #eeeeee;
  -webkit-box-shadow: 0 0 3px #eeeeee;
}
/* line 41, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .dragging_placeholder .note .preview div, .notebook_list_container .dragging_placeholder .note .preview span, .notebook_list_container .dragging_placeholder .note .preview a {
  display: none;
}
/* line 45, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .icon {
  display: block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 52, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .lock_icon {
  background: url(/assets/lock.png);
}
/* line 55, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .drag_handle {
  cursor: move;
}
/* line 59, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .ui-draggable-dragging .drag_handle, .notebook_list_container .note:hover .drag_handle, .notebook_list_container .notebook:hover .drag_handle {
  background: url(/assets/move.png);
}
/* line 62, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .checkbox {
  width: 25px;
  height: 25px;
  overflow: hidden;
  display: block;
}
/* line 70, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .note.checked .checkbox, .notebook_list_container .notebook.checked .checkbox {
  background: url(/assets/checkbox_checked.png);
}
/* line 74, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container .note, .notebook_list_container .notebook, .notebook_list_container .grid_view, .notebook_list_container .list_view {
  position: relative;
}
/* line 78, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .preview {
  height: 196px;
  width: 158px;
}
/* line 82, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .notebook, .notebook_list_container.grid .note {
  margin: 10px;
  text-align: center;
  border: solid 1px #aaaaaa;
}
/* line 87, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .notebook .wrapper_large, .notebook_list_container.grid .notebook .wrapper, .notebook_list_container.grid .note .wrapper_large, .notebook_list_container.grid .note .wrapper {
  position: relative;
}
/* line 90, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .notebook .wrapper_large, .notebook_list_container.grid .note .wrapper_large {
  height: 196px;
  width: 158px;
}
/* line 94, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .notebook .wrapper, .notebook_list_container.grid .note .wrapper {
  height: 121px;
  width: 99px;
}
/* line 98, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .notebook {
  font-weight: bold;
}
/* line 101, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .name, .notebook_list_container.grid .course {
  display: block;
}
/* line 104, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .name {
  font-size: 1.2em;
  margin-top: 67px;
  padding: 5px;
}
/* line 109, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .lock_icon {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
/* line 114, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .drag_handle {
  position: absolute;
  left: 45%;
  bottom: 5px;
}
/* line 119, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .checkbox {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
/* line 124, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid ol, .notebook_list_container.grid li {
  display: inline-block;
}
/* line 128, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.grid .notebook, .notebook_list_container.grid .note {
  float: left;
}
/* line 131, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list {
  padding: 0 15px;
}
/* line 134, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list li.notebook_list_item {
  background: #fdfde8;
}
/* line 136, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list li.notebook_list_item.collapsed {
  background: inherit;
}
/* line 138, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list li.note_list_item {
  background: #f2f2f2;
}
/* line 140, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list li.note_list_item.ui-draggable-dragging {
  background: inherit;
}
/* line 144, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list ol.note_list {
  border-top: 2px solid #aaaaaa;
  border-bottom: 2px solid #aaaaaa;
  max-height: 300px;
  overflow-y: scroll;
}
/* line 150, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list ol.note_list li:last-child {
  border-width: 0;
}
/* line 153, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list li {
  border-bottom: 2px dotted #aaaaaa;
}
/* line 156, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list li.notebook_list_item {
  border-width: 0;
}
/* line 159, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list li.notebook_list_item.collapsed {
  border-width: 2px;
}
/* line 162, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list li.notebook_list_item.collapsed ol.note_list {
  display: none;
}
/* line 165, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .notebook, .notebook_list_container.list .note {
  padding: 10px;
}
/* line 167, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .notebook .list_view, .notebook_list_container.list .note .list_view {
  height: 110px;
}
/* line 170, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .preview {
  position: absolute;
  left: 10px;
  top: 4px;
  height: 100px;
  width: 80px;
}
/* line 177, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .checkbox {
  position: absolute;
  top: 52.5px;
  left: 47.5px;
}
/* line 182, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .fields {
  margin-left: 110px;
  font-size: 1.5em;
}
/* line 186, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .name_wrapper {
  padding-top: 28px;
}
/* line 188, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .name_wrapper a {
  float: left;
}
/* line 191, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .name {
  font-size: 1.6em;
}
/* line 194, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .expand_collapse_icon, .notebook_list_container.list .drag_handle {
  position: absolute;
  right: 5px;
  top: 45%;
}
/* line 199, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .expand_collapse_icon {
  background: url(/assets/collapse.png) no-repeat;
}
/* line 202, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.notebook_list_container.list .collapsed .expand_collapse_icon {
  background: url(/assets/expand.png) no-repeat;
}

/* line 208, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.full-width.notes-new form, .full-width.notes-edit form {
  background: none;
  padding: 0;
}
/* line 211, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.full-width.notes-new form textarea, .full-width.notes-edit form textarea {
  width: 80%;
  margin: 20px 100px;
  padding: 40px;
  border: none;
}
/* line 217, /Users/intridea/projects/studyhall/app/assets/stylesheets/notebooks.sass */
.full-width pre#note_content {
  width: 80%;
  margin: 20px 100px;
  padding: 40px;
  border: none;
  background: white;
  color: black;
}
