/* line 1, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte_area {
  background-color: white;
  margin: 0px 10px 10px 10px;
  padding: 5px;
  width: 95%;
  height: 500px;
  border: 1px solid #aaaaaa;
}

/* line 9, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar {
  overflow: hidden;
  margin: 10px 10px 0 10px;
}
/* line 13, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar p {
  float: left;
  margin: 0;
  padding-right: 5px;
}
/* line 18, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar a {
  color: #999999;
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
  cursor: pointer;
  text-indent: -1000px;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  background-image: url(/assets/customIcons.gif);
}
/* line 31, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar a.bold {
  background-position: 0 -16px;
}
/* line 34, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar a.italic {
  background-position: -16px -16px;
}
/* line 37, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar a.orderedlist {
  background-position: -32px -48px;
}
/* line 40, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar a.unorderedlist {
  background-position: -16px -48px;
}
/* line 43, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar a.link {
  background-position: -80px -48px;
}
/* line 46, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.rte-toolbar a.image {
  background-position: -80px -80px;
}

/* line 49, /Users/intridea/projects/studyhall/app/assets/stylesheets/rte.sass */
.uEditor ul.uEditorToolbar li a.uEditorButtonHTML {
  background-position: -48px -48px;
}
