/* line 2, /Users/intridea/projects/studyhall/app/assets/stylesheets/study_sessions.sass */
.study_sessions-show #video_sidebar {
  float: left;
  width: 270px;
  background: #555555;
  margin-right: 15px;
  padding: 10px;
  min-height: 300px;
}
/* line 10, /Users/intridea/projects/studyhall/app/assets/stylesheets/study_sessions.sass */
.study_sessions-show #video_sidebar #links ul {
  margin: 0;
  padding: 0;
}
/* line 13, /Users/intridea/projects/studyhall/app/assets/stylesheets/study_sessions.sass */
.study_sessions-show #video_sidebar #links ul li {
  list-style: none;
  width: 55px;
  margin-bottom: 5px;
}
/* line 17, /Users/intridea/projects/studyhall/app/assets/stylesheets/study_sessions.sass */
.study_sessions-show .container {
  width: 1010px;
}
/* line 19, /Users/intridea/projects/studyhall/app/assets/stylesheets/study_sessions.sass */
.study_sessions-show form.new_whiteboard {
  margin-left: 310px;
  width: 700px;
  height: 300px;
}
/* line 23, /Users/intridea/projects/studyhall/app/assets/stylesheets/study_sessions.sass */
.study_sessions-show form.new_whiteboard .inner-form {
  margin: 100px 240px;
  width: 700px;
}
