@import "reset.sass"

// Core
@import "preboot.sass"
@import "scaffolding.sass"

// Styled patterns and elements
@import "type.sass"
@import "forms.sass"
@import "tables.sass"
@import "patterns.sass"
@import "jquery-jscrollpane.sass"
//@import "jquery-ui-custom.sass" 
@import "chosen.sass"
@import "animate.sass"

@import "sections/study_session.sass"
@import "sections/landing_page.sass"
@import "sections/courses.sass"
@import "sections/profile_wizard.sass"
@import "sections/user_setting.sass"
@import "sections/popover.sass"
@import "sections/notes.sass"
@import "sections/nav.sass"
@import "sections/sidebar.sass"
@import "sections/user_page_home.sass"
@import "sections/static_pages.sass"
@import "sections/classes.sass"


.left
  float: left
.right
  float: right 
.clear 
  clear: both
.highlight_text
  color: $highlight_text
.hide
  display: none
    
body .modal
  top: 400px

html
  height: 100%
  &.busy
    cursor: wait !important
  body
    background-color: $standard_background
    color: #9D9D9A
    height: 100%
    min-width: 982px
  #wrap
    height: auto
    min-height: 100%
    
.main-content
  margin-top: 10px
  padding-bottom: 70px
  > .container
    @include box-shadow(0 0 5px 2px #EEEEEE)
    background: $white
    min-height: 700px
    padding: 20px
    &.narrow
      width: 480px

.container.adminer
  background: #FFF
  padding: 15px
  margin-top: 8px
  box-shadow: 0 5px 5px 2px #AAA
  width: 1200px
   
//Footer
.footer
  @include box-shadow(inset 0px 1px 0px 0px #f9f9f9 )
  background: $footer_background
  border-top: 1px double $footer_background
  clear: both
  height: 70px      
  margin-top: -70px                 
  position: relative
  width: 100%
  p,a  
    +sans-serif-font(normal, 11px, 18px)
    text-align: center  
    line-height: 70px  
    margin: 0
    font-size: 12px
    color: #aaaaaa
    a
      margin-left: 40px
      &:hover
        color: #777
        text-decoration: none
      
.outer-container
  width: 980px
  margin: 0 auto
  background-color: #FDF2F3
  padding: 20px


.ie8
  .topbar .nav li 
    border-top: 1px solid $navBorderTop

a.disabled
  +opacity(70)
  
.modal-backdrop.fade.in
  +opacity(60)

.login-button 
  +border-radius( $topbarRadius )            
  +sans-serif-font(bold, 13px, 13px)
  +vertical-gradient($navGradStart, $navGradEnd)
  border-top: 1px solid #5C4932
  border-bottom: 1px solid #0a0401 
  color: #ffffff !important    
  right: 50%
  margin-right: -470px
  padding: 10px 15px
  position: absolute
  text-shadow: 0 1px 0 rgba(0,0,0, .3)
  top: 15px 
  &:hover, &:focus
    color: $white !important
    text-decoration: none
        
//Grid Bar
.action_bar
  background: transparent url(asset-path('grid_bg.png','image'))
  height: 62px
  margin: -7px 0 0 0
  text-align: center
  .container
    position: relative
  h3
    color: #ffffff
    @include body-font(normal, 18px, 62px)
    text-shadow: 0 1px 0 rgba(0,0,0,1)
  .buttons
    position: absolute
    right: 0
    top: 15px
    .primary
      line-height: 13px
    &.left
      left: 0
      width: 300px
      text-align: left
      &.narrow
        width: 150px
      a.hidden
        display: none
    &.right .btn
      vertical-align: top
  .chzn-container
    float: left
    margin-right: 4px
    text-align: left
    .chzn-search
      display: none
    .chzn-single
      height: 25px
      line-height: 25px
      div:after
        margin-top: 12px
#items_layout_switcher   
  display: inline-block
  .btn
    +ir
    +transition(none)
    +vertical-gradient-image(asset-path('filter-buttons.png','image'), #f5f5f5, #eeeeee, no-repeat)  
    border: 1px solid #777
    float: left
    height: 28px
    width: 35px
    &.hide
      display: none
  .grid_btn 
    border-radius: 2px 0 0 2px
    border-right: none
    background-position: 0 0
  .list_btn
    background-position: -40px 0
    border-radius: 0 2px 2px 0
    border-left: none
  &.grid .grid_btn, &.list .list_btn
    +box-shadow(0 1px 0 #3e4447 inset)
    +vertical-gradient-image(asset-path('filter-buttons.png','image'), #4e5558, #393e40, no-repeat)
    border-color: #151212
    border-style: solid  
  &.grid
    .grid_btn
      $shadow: 0 1px 0 #3e4447 inset,-1px 0 0 #777 inset 
      +box-shadow($shadow)
      background-position: 0 -28px 
      border-width: 1px 0 1px 1px    
  &.list
    .list_btn
      $shadow: 0 1px 0 #3e4447 inset, 1px 0 0 #777 inset 
      +box-shadow($shadow)
      background-position: -40px -28px
      border-width: 1px 1px 1px 0

      
.single-form  
  .container.narrow
    margin-top: 40px
    min-height: 285px
    margin-bottom: 400px
  .header
    +clearfix
    h1 
      +h3
      float: left
      margin: 0 0 12px 0
    #facebook_login
      float: right 
      line-height: 38px  
  form
    border: 1px solid #DDD
    padding: 20px 80px
    h2
      +h3
      margin: 0 0 12px 0
    a
      font-size: 12px 
    p
      margin: 0 0 12px
    ul
      margin: 0 0 18px 0
      list-style-type: none
      li
        +body-font(normal, 14px, 14px) 
        color: $red
    input[type="text"], input[type="password"], textarea
      width: 300px
    input[type="submit"]
      width: 100px
      margin-right: 10px
    .input.checkbox
      float: left
      input
        margin: 5px 4px 0 0
    .remember-me-label    
      line-height: 24px 
      float: left
      width: 100px
  #forgot_link
    float: right
    margin: 5px 5px 0 0
  
.alert-message.success
  a
    color: #FFF
    font-weight: bold
    text-decoration: none



.landing_wrapper
  text-align: center
  .study_session_demo
    background: url(asset-path('notebook-sprite.png','image')) no-repeat -396px 0 transparent
    width: 122px
    height: 129px
    margin: 0 auto 
    text-align: center
    padding: 25px 0 0 10px
    position: relative
    cursor: pointer
    .attendees
      margin: 0 auto
      width: 85px
      text-align: center
      padding-right: 5px
      li
        margin: 0 1px
  .note_item_demo
    background: url(asset-path('notebook-sprite.png','image')) no-repeat -790px 0 transparent
    color: #333
    padding-top: 35px
    font-size: 12px
    line-height: 15px
    position: relative
    width: 132px
    height: 156px 
    padding: 20px 0 0
    text-align: center
    margin: 0 auto 20px
    +box-sizing(border-box)
    a
      display: block
      width: 132px
      height: 136px



#view_all_buddies, #view_all_classmates
  ul 
    height: 300px
    width: 400px
    margin: 0
    padding: 0
    li
      list-style: none
      padding: 5px
      margin-bottom: 0
      margin-right: -5px
      height: 50px
      &.odd
        background: whitesmoke
      .photo
        margin-right: 10px
      .meta
        text-overflow: ellipsis
        a
          display: block
      .right
        margin: 10px
        .hidden
          display: none

.users-show
  .popover
    .input
      margin-left: 0
      margin-right: 20px
      margin-bottom: 10px
      input[type='text']
        width: 250px
      textarea
        width: 300px
        height: 150px
      select
        width: 250px
    #message_new
      .input
        margin-right: 0
        input[type="text"]
          width: 313px
        textarea
          width: 313px
