body
  color: #9D9D9A

.standout_background
  background-color: #FDFBFC
  padding: 10px

form
  background-color: #FDFBFC
  padding: 10px
  
  textarea
    height: 300px
    width: 400px

table
  thead
    color: #C24A3B

ul.spaced
  li
    padding: 5px 0

form.with_columns
  padding: 0
