.links-holder .row{
	width:704px;
	overflow:hidden;
	margin:0 0 9px;
	float:right;
}

.links-holder .row .btn-school{
	overflow:hidden;
	display:block;
	width:704px;
	background:#b1b1b1;
	text-align:center;
	color:#fff;
	font-weight:bold;
	padding:9px 0 10px;
	font-size:20px;
	line-height:22px;
	float:right;
}
.links-holder .row .btn {
	float:right;
	background:url(asset-path('bg-btn.png', 'image')) no-repeat 100% 0;
	background-repeat:no-repeat;
	height:40px;
	text-align:center;
	padding:0 0 0 0;
	text-transform:uppercase;
	color:#0f1011;
	margin:0 0 0 22px;
	font:13px/17px MuseoSansbold, Arial, sans-serif;
	width:210px;
	font-weight:bold;
}

.links-holder .row .btn span{
	float:left;
	padding:11px 7px 0 13px;
	background:url(asset-path('bg-btn.png', 'image')) no-repeat 0 -37px;
	height:26px;
	min-width:197px;
}

.links-holder .row .btn:last-child{margin:0;}
.links-holder .row .btn span{
	float:left;
	padding:11px 7px 0 13px;
	background:url(asset-path('bg-btn.png', 'image')) no-repeat 0 -37px;
	background-repeat:no-repeat;
	height:26px;
	min-width:197px;
}

.buddies_list {
	width:325;
	height:150px;
}

h1.small_font
{
	font-size:16px !important;
}

.sidebar{
	height:600;
	width:300;
	float:left !important;
}








