// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_content_wrapper
  ul
    li
      margin: 5px
      padding: 2px

#home_classmate_list
  ul
    li
      margin: 0px
      margin-right: 5px
      padding: 0px
      float: left

#home_activity_feed
  ul
    li
      background-color: #FDFBFC
      border: 1px solid #BFBFAC
      border-radius: 5px 0 0 5px
      font-size: 12px
      
      img
        vertical-align: top
      
      .feed_post_controls
        background-color: #F2F2F2
        margin-top: 5px
        padding: 2px
        border-top: 1px solid #BFBFAC
        
#home_campus_news_feed
  ul
    li
      min-height: 30px
      border-top: 1px solid #BFBFAC
      font-size: 11px
      