// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_content_wrapper
  ul
    li
      margin: 5px
      padding: 2px

.sub_section
  border-bottom: 1px solid #aaaaaa
  padding: 10px 0px 

.homepage_subbar
  height: 65px
  margin-bottom: 20px
    
  .user_greeting
    position: relative
    margin-top: 5px
    
    .name
      position: absolute
      top: 30%
      font-size: 20px
      margin-left: 5px
  
  .alert
    margin-top: 19px
  
  .standard_actions
    padding: 15px 0px
    
    a
      margin-left: 5px
      float: right
  
.sidebar
  width: 225px
  padding-right: 10px

  .friend_list
    height: 100px
    width: 225px

    ul
      padding: 10px 0px
      li
        margin: 0px
        margin-right: 5px
        padding: 0px
        float: left