.outer-container
  width: 980px
  margin: 0 auto
  background-color: #FDF2F3
  padding: 20px
.topbar
  position: relative
  height: auto
  z-index: 999
  .fill
    background: transparent url("/assets/header_bg.png") 
    height: 73px
    @include box-shadow(0)
  .logo
    float: left
    margin: 17px 0 0 -20px
    a
      @include ir
      background: transparent url("/assets/logo.png")
      color: #ffffff
      height: 38px
      width: 191px
  
  #topbar_main_nav
    width: 345px
    margin-left: 70px
    
    ul
      margin-right: 0
    
  .nav
    float: left
    margin: 17px  0 0 0px
    li
      @include vertical-gradient($navGradStart, $navGradEnd)
      border-top: 1px solid $navBorderTop
      border-bottom: 1px solid $navBorderBottom
      border-left: 1px solid $navBorderLeft
      border-right: 1px solid $navBorderRight
      position: relative
      &:first-child a, &:last-child a
        width: 49px
      &:first-child
        @include multi-radius($topbarRadius, 0px, 0px, $topbarRadius)
      &:last-child
        @include multi-radius(0px, $topbarRadius, $topbarRadius, 0px)
      a
        background: transparent url($checkerImage) repeat
        color: #fff
        width: 59px
        span
          @include ir
          background: transparent url("/assets/nav_icons.png")
          height: 30px
      &.current
        @include vertical-gradient-image( $checkerImage,$navCurrentGradStart, $navCurrentGradEnd)
        a
          background: none
        border-top: 1px solid $navCurrentBorder
        border-bottom: 1px solid $navCurrentGradEnd
        border-left: none
        border-right: none
        height: 32px
        margin: -1px 0 0 0
        &:first-child
          @include multi-radius($topbarRadius, 0px, 0px, $topbarRadius)
          border-left: 1px solid $navCurrentBorder
        &:last-child
          @include multi-radius(0px, $topbarRadius, $topbarRadius, 0px)
          border-right: 1px solid $navCurrentBorder
    #nav_home span
      background-position: 10px 0px 
    #nav_studyhalls span
      background-position: -39px 0px 
    #nav_notes span
      background-position: -98px 0px  
    #nav_profile span
      background-position: -160px 0px 
    #nav_inbox span
      background-position: -227px 0px 
    #nav_account span
      background-position: -278px 0px 
    small
      left: 0
      position: absolute
      right: 40px
      text-align: center
      top: 10px
      span
        text-indent: -99999px
  
  form
    background: none
    float: left
    margin: 7px 0 0 0
    input
      @include border-radius(4px)
      $shadow: 0px 1px 3px rgba(29, 14, 0, 0.9) inset, 0px 1px 2px 0px rgba(255, 255, 255, .15)
      @include box-shadow( $shadow )
      @include sans-serif-font(13px, normal, 1)
      @include vertical-gradient($navFormGradStart, $navFormGradEnd)
      border: none
      color: #fff
      color: rgba(255,255,255,.75)
      // border-top: 1px solid transparent
      // border-right: 1px solid transparent
      // border-bottom: 1px solid rgba(255, 255, 255, 0.1)
      // border-left: 1px solid transparent
      padding: 4px 9px
      height: 24px
      width: 220px 
      &:-moz-placeholder
        color: $grayLighter
      &::-webkit-input-placeholder
        color: $grayLighter     
  .secondary-nav 
    li.dropdown
      height: 25px
      @include border-radius( $topbarRadius )
      @include vertical-gradient($navGradStart, $navGradEnd)
      @include vertical-gradient-image($checkerImage, $navGradStart, $navGradEnd)
      padding: 3px
      cursor: pointer
      img
        border: 1px solid $imgBorder
        margin: 0 7px 0 0
      a.dropdown-toggle
        background: none
        display: inline
        &:active, &:focus
          outline: 0 none
        img
          vertical-align: middle   
      a.menu:after, .dropdown-toggle:after
        border-left: 4px solid transparent
        border-right: 4px solid transparent
        border-top: 4px solid white
        content: "&darr"
        display: inline-block
        height: 0
        margin-left: 4px
        margin-top: 11px
        text-indent: -99999px
        vertical-align: top
        width: 0
      &.open
        ul
          @include opacity(100)  
      ul 
        @include vertical-gradient(#ffffff, #f8f8f8)
        @include border-radius(2px)
        @include box-shadow(0 3px 7px rgba(0,0,0,0.3))
        $transition: opacity .15s linear
        @include transition($transition)
        @include opacity(0)
        border: 1px solid $popoverBorder
        float: left
        display: block
        position: absolute
        top: 42px
        right: -10px
        min-width: 90px
        max-width: 160px
        _width: 90px
        margin-left: 0
        margin-right: 0
        padding: 5px 0
        text-align: left
        zoom: 1      
        .arrow 
          @include popover-arrow-below(10px,$popoverColor, -8px, auto, 5px)
          position: absolute
          width: 0
          height: 0
        .arrow-border
          @include arrow-border(10px,$popoverBorder, -20px, auto, 5px)          
        li 
          float: none
          clear: both
          display: block
          background: none
          font-size: 12px
          border: none
          a 
            background: none
            display: block
            padding: 6px 15px
            clear: both
            font-size: 12px
            font-weight: normal
            line-height: 12px
            color: $linkColor
            text-shadow: none
          // Dividers (basically an hr)
          &.divider 
            height: 1px
            overflow: hidden
            background: #222
            background: rgba(0,0,0,.2)
            border-bottom: 1px solid rgba(255,255,255,.1)
            margin: 5px 0
          // Section separaters
          span 
            clear: both
            display: block
            background: rgba(0,0,0,.2)
            padding: 6px 15px
            cursor: default
            color: $gray
            border-top: 1px solid rgba(0,0,0,.2)
        

.gridbar
  background: transparent url("/assets/grid_bg.png")
  height: 62px
  margin: -7px 0 0 0
  text-align: center
  .container
    position: relative
  h3
    color: #ffffff
    @include body-font(normal, 18px, 62px)
    text-shadow: 0 1px 0 rgba(0,0,0,1)
  .buttons_left
    position: absolute
    left: 0
    top: 15px
  .buttons_right
    position: absolute
    right: 0
    top: 15px
  

.topbar_and_content
  min-height: 100%
  height: auto !important
  height: 100%
  margin-bottom: -50px

  .main-content
    height: 100%

    .container
      background-color: white
      height: 100%
      padding: 10px
      width: 980px

    .clearfooter
      height: 50px

/* Full width layout for pages such as notebooks and notes
.full-width    
  .center
    margin: 0 auto
    width: 500px

  #menubar
    &.notes
      background: none
      .middle
        span
          color: #444
