html
  background-color: #FAECEC

body
  padding-top: 40px
  background-color: #FAECEC

.container
  .fill
    background-color: #FDF2F3
    padding: 20px

.topbar
  .fill
    background-color: #D3F4FF
    @include vertical-gradient(#E5F4FF, #D3F4FF)
  
  h3 a
    color: #000000
  
  h3 a:hover
    color: #000000
  
  ul li a
    color: #666666
  
  ul li a:hover
    color: #000000