.messages_landing_wrapper
  width: 660px

.reply_header
  border-bottom: 1px solid #D4D4D4

.reply_fields
  margin-left: 70px
  #message_new
    margin-top: 15px
  form
    padding-left: 0px
  .form_actions
    .form_buttons
      width: 550px
      float: left
      .input-file
        z-index: 2
        position: absolute
        left: 500px
        opacity: 0
        width: 100px
        &:hover
          cursor: pointer
      .attachment_link
        float: right
        &.img
          text-decoration: none
          border: 0 none
    .file_upload_name
      margin-left: 10px

#message_new
  input[type="text"]
    width: 330px
  textarea
    width: 330px
    height: 150px
    line-height: 20px
    &.reply_body
      width: 540px
      height: 50px
  #error_explanation
    margin-right: 13px
    &.hidden
      display: none
  select
    width: 340px

.messages_list
  li.message_list_item
    position: relative
    border-bottom: 1px solid #D4D4D4
    img
      float: left
    .checkbox
      position: absolute
      top: 13px
      right: 20px
    .full_message
      overflow-y: scroll
      border-top: 1px solid #D4D4D4
      max-height: 350px
      .alert-message
        margin-top: 15px
    .spam_abuse
      margin-top: 18px
    .collapsed_message
      &.unread
        background-color: #F8F8F8
      &:hover
        cursor: pointer
        background-color: #FDFDE0
      &.highlighted
        background-color: #FDFDE0
    .collapsed_message, .reply_header
      padding: 14px 14px 10px
      .message_content
        margin-left: 55px
        min-height: 55px
        .meta
          strong
            margin-right: 5px
          span
            font-size: 11px
          &.expand_message
        .subject
          strong
            margin-right: 5px
      .expanded_message
        &:hover
          cursor: arrow
          background-color: white
        .full_message
    .body
      float: none
      clear both
      padding-top: 10px
      padding-bottom: 10px