.full-width
  #menubar
    &.notes
      background: none
      .middle
        span
          color: #444
  &.notes-new, &.notes-edit
    form
      background: none
      padding: 0
      textarea
        width: 80%
        margin: 20px 100px
        padding: 40px
        border: none
  pre#note_content
    width: 80%
    margin: 20px 100px
    padding: 40px
    border: none
    
    background: white
    color: black