<h1>Create A New Whiteboard</h1>
<%= form_for @whiteboard do |f| %>
  <% Poc::Whiteboard::OPTIONAL_COMPONENTS.in_groups_of(4) do |group| %>
    <ul class="component_list">
      <% group.compact.each do |component| %>
        <li><%= f.check_box "#{component}_component".to_sym %><%= f.label "#{component}_component".to_sym, component.capitalize %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="clearfix"></div>
  <%= f.submit "Start Whiteboard" %>
<% end %>
