<footer class="footer">
  <div class="container">
      <p>Copyright StudyHall.com All rights reserved.</p>
      <ul class="unstyled">
        <li ><%= link_to "Contact", new_contact_path %></li>
        <% @static_pages.each do |static_page| %>
          <li ><%= link_to static_page.title, page_path(static_page.slug) %></li>
        <% end %>
      </ul>
  </div>
</footer>