<footer class="footer">
  <div class="container">
      <p>
        &copy; StudyHall.com All rights reserved
        <%= link_to "Contact", new_contact_path %>
        <% @static_pages.each do |static_page| %>
          <%= link_to static_page.title, page_path(static_page.slug) %>
        <% end %> 
      </p>      
  </div>
</footer>
